
API/.vs/FoodApp/v17/.suo
*.json
API/.vs/FoodApp/v17/.suo
API/FoodApp/bin/Debug/net5.0/FoodApp.dll
API/FoodApp/bin/Debug/net5.0/FoodApp.exe
API/FoodApp/bin/Debug/net5.0/FoodApp.pdb
API/FoodApp/bin/Debug/net5.0/FoodApp.runtimeconfig.dev.json
API/FoodApp/bin/Debug/net5.0/Recipes.Data.dll
API/FoodApp/bin/Debug/net5.0/Recipes.Data.pdb
API/FoodApp/bin/Debug/net5.0/Recipes.Repo.dll
API/FoodApp/bin/Debug/net5.0/Recipes.Repo.pdb
API/FoodApp/bin/Debug/net5.0/Recipes.Services.dll
API/FoodApp/bin/Debug/net5.0/Recipes.Services.pdb
API/FoodApp/obj/Debug/net5.0/apphost.exe
API/FoodApp/obj/Debug/net5.0/FoodApp.assets.cache
API/FoodApp/obj/Debug/net5.0/FoodApp.csproj.AssemblyReference.cache
API/FoodApp/obj/Debug/net5.0/FoodApp.csproj.CoreCompileInputs.cache
API/FoodApp/obj/Debug/net5.0/FoodApp.csproj.FileListAbsolute.txt
API/FoodApp/obj/Debug/net5.0/FoodApp.dll
API/FoodApp/obj/Debug/net5.0/FoodApp.GeneratedMSBuildEditorConfig.editorconfig
API/FoodApp/obj/Debug/net5.0/FoodApp.genruntimeconfig.cache
API/FoodApp/obj/Debug/net5.0/FoodApp.pdb
API/FoodApp/obj/Debug/net5.0/ref/FoodApp.dll
API/FoodApp/obj/Debug/net5.0/refint/FoodApp.dll
API/FoodApp/obj/FoodApp.csproj.nuget.dgspec.json
API/FoodApp/obj/FoodApp.csproj.nuget.g.props
API/FoodApp/obj/project.assets.json
API/FoodApp/obj/project.nuget.cache
API/Recipes.Data/bin/Debug/net5.0/Recipes.Data.dll
API/Recipes.Data/bin/Debug/net5.0/Recipes.Data.pdb
API/Recipes.Data/obj/Debug/net5.0/Recipes.Data.assets.cache
API/Recipes.Data/obj/Debug/net5.0/Recipes.Data.csproj.AssemblyReference.cache
API/Recipes.Data/obj/Debug/net5.0/Recipes.Data.csproj.CoreCompileInputs.cache
API/Recipes.Data/obj/Debug/net5.0/Recipes.Data.dll
API/Recipes.Data/obj/Debug/net5.0/Recipes.Data.GeneratedMSBuildEditorConfig.editorconfig
API/Recipes.Data/obj/Debug/net5.0/Recipes.Data.pdb
API/Recipes.Data/obj/Debug/net5.0/refint/Recipes.Data.dll
API/Recipes.Data/obj/project.assets.json
API/Recipes.Data/obj/project.nuget.cache
API/Recipes.Data/obj/Recipes.Data.csproj.nuget.dgspec.json
API/Recipes.Data/obj/Recipes.Data.csproj.nuget.g.props
API/Recipes.Repo/bin/Debug/net5.0/Recipes.Data.dll
API/Recipes.Repo/bin/Debug/net5.0/Recipes.Data.pdb
API/Recipes.Repo/bin/Debug/net5.0/Recipes.Repo.dll
API/Recipes.Repo/bin/Debug/net5.0/Recipes.Repo.pdb
API/Recipes.Repo/bin/Debug/net5.0/Recipes.Services.dll
API/Recipes.Repo/bin/Debug/net5.0/Recipes.Services.pdb
API/Recipes.Repo/obj/Debug/net5.0/Recipes.Repo.assets.cache
API/Recipes.Repo/obj/Debug/net5.0/Recipes.Repo.csproj.AssemblyReference.cache
API/Recipes.Repo/obj/Debug/net5.0/Recipes.Repo.csproj.CoreCompileInputs.cache
API/Recipes.Repo/obj/Debug/net5.0/Recipes.Repo.dll
API/Recipes.Repo/obj/Debug/net5.0/Recipes.Repo.GeneratedMSBuildEditorConfig.editorconfig
API/Recipes.Repo/obj/Debug/net5.0/Recipes.Repo.pdb
API/Recipes.Repo/obj/project.assets.json
API/Recipes.Repo/obj/project.nuget.cache
API/Recipes.Repo/obj/Recipes.Repo.csproj.nuget.dgspec.json
API/Recipes.Repo/obj/Recipes.Repo.csproj.nuget.g.props
API/Recipes.Services/bin/Debug/net5.0/Recipes.Data.dll
API/Recipes.Services/bin/Debug/net5.0/Recipes.Data.pdb
API/Recipes.Services/bin/Debug/net5.0/Recipes.Services.dll
API/Recipes.Services/bin/Debug/net5.0/Recipes.Services.pdb
API/Recipes.Services/obj/Debug/net5.0/Recipes.Services.assets.cache
API/Recipes.Services/obj/Debug/net5.0/Recipes.Services.csproj.AssemblyReference.cache
API/Recipes.Services/obj/Debug/net5.0/Recipes.Services.csproj.CoreCompileInputs.cache
API/Recipes.Services/obj/Debug/net5.0/Recipes.Services.dll
API/Recipes.Services/obj/Debug/net5.0/Recipes.Services.GeneratedMSBuildEditorConfig.editorconfig
API/Recipes.Services/obj/Debug/net5.0/Recipes.Services.pdb
API/Recipes.Services/obj/project.assets.json
API/Recipes.Services/obj/project.nuget.cache
API/Recipes.Services/obj/Recipes.Services.csproj.nuget.dgspec.json
API/Recipes.Services/obj/Recipes.Services.csproj.nuget.g.props
